/*
 * This stylesheet contains elements customized for the new brand.
 * --------------------------------------------------
 */

/*  COLORS */

.primary {background: #151515; }
.secondary {background: #ededed;}
.tertiary {background: #6c6c6c;}
.quaternary {background: #ababab;}

.btn-default {background: transparent; border: 1px solid #ec008c; color: #ec008c }
.btn-default:hover {background: #ec008c; color: #fff;}

.btn-primary {background: #151515; border: 1px solid  #666;}
.btn-primary:hover {background: #333; border: 1px solid  #666;}



body {
  color: #5a5a5a;
}

a {color: #ec008c}

a:hover, a:active, a:focus {
 color: #ec008c;
 }

/* FONTS */
body {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

.btn {font-family: 'Rubik', sans-serif;}

h1, h2, h3, h4 {
  font-family: 'Eczar', serif;
  font-weight: 700;
}

h3 {margin-top: 1.4em;}
h4 {margin-top: 1.4em;}

h3.brand {width: 80%; margin-left: 10%;}
/* LISTS */

ul {
  list-style-type: circle;
}



ol{
	counter-reset: counter;
  list-style-type: none;
}
ol li:before {
	content: counter(counter);
	counter-increment: counter;
  list-style-type: decimal-leading-zero;
  color: #ec008c;
  margin-left: -1em;
  margin-right: .7rem;
  font-size: .8em;
}

blockquote {border-left: 10px solid #ededed; padding-left: 20px; font-style:italic;}
blockquote em {font-weight: 700;}


/* TABLE WEEK */
.table .week {
  color: #ec008c;
}



 .list-group-item.active,
 .list-group-item:hover {
   border-left: 5px solid #ec008c;
   color: #ec008c;
 }
