/*
 * This stylesheet contains elements customized for the new brand.
 * --------------------------------------------------
 */

/*  COLORS */

.primary {background: #f85e7a; }
.secondary {background: #ededed;}
.tertiary {background: #6c6c6c;}
.quaternary {background: #ababab;}

.btn-default {background: transparent; border: 1px solid #f85e7a; color: #f85e7a }
.btn-default:hover {background: #f85e7a; color: #fff;}

.btn-primary {background: #151515; border: 1px solid  #666;}
.btn-primary:hover {background: #333; border: 1px solid  #666;}

.nav-link {color: #fff; opacity: 0.8;}

body {
  color: #1c1b26;
}

a {color: #f85e7a}

a:hover, a:active, a:focus {
 color: #ec008c;
 }

/* FONTS */
body {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

.btn {font-family: 'Rubik', sans-serif;}

h1, h2, h3, h4 {
  font-family: 'Eczar', serif;
  font-weight: 700;
}

h3 {margin-top: 1.4em;}
h4 {margin-top: 1.4em;}

h3.brand {width: 80%; margin-left: 10%;padding: 10px;}

.sidebar {background: #191528;}

/* LISTS */

ul {
  list-style-type: circle;
}



ol{
	counter-reset: counter;
  list-style-type: none;
}
ol li:before {
	content: counter(counter);
	counter-increment: counter;
  list-style-type: decimal-leading-zero;
  color: #f85e7a;
  margin-left: -1em;
  margin-right: .7rem;
  font-size: .8em;
}

blockquote {border-left: 10px solid #ededed; padding-left: 20px; font-style:italic;}
blockquote em {font-weight: 700;}


/* TABLE WEEK */
.table .week {
  color: #f85e7a;
}

 .list-group-item

 .list-group-item.active,
 .list-group-item:hover {
   border-left: 5px solid #f85e7a;
   color: #f85e7a;
   opacity: 1.0;
 }
